@media print
{
  #footer, #disqus_thread, iframe, a.anchor, .navbar
  {
    display: none !important;
  }

  .getting-started-list>li {
    border-left: 0 !important;
  }
  .content {
    border: 0 !important;
  }
  #main {
    padding-left: 0 !important;
  }
  .box {
    padding: 0 !important;
  }
}


.bs-sidebar .nav .nav {
  display: block;
}

.container img {
  max-width: 100%;
  margin: 10px 0;
}

.user1 {
  font-weight: bold;
  color: blue;
}

.user2 {
  font-weight: bold;
  color: darkorange;
}

.note, .tip, .warning {
  padding: 20px;
  margin: 15px 0;
  border-radius: 4px;
  line-height: 19pt;
}

.note {
  color: #31708f;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
}

.tip {
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

.warning {
  color: #806600;
  background-color: #ffeb99;
  border: 1px solid #ffcc00;
}

.note strong, .tip strong, .warning strong {
  text-transform: uppercase;
  font-size: 19px;
}

.note code {
  background: none;
  font-size: 100%;
}

.note strong:before {
  content: "\f05a";
  font-family: FontAwesome;
  padding-right: 5px;
  font-size: 19px;
}

.tip strong:before {
  content: "\f06a";
  font-family: FontAwesome;
  padding-right: 5px;
  font-size: 19px;
}

.warning strong:before {
  content: "\f071";
  font-family: FontAwesome;
  padding-right: 5px;
  font-size: 19px;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1300px;
  }
}

@media (max-width: 667px) {
  code {
    overflow-wrap: break-word;
  }

  .table-wrapper {
    overflow-x: scroll;
    max-width: 100%;
    width: 100%;
  }
}

#disqus_thread {
  margin: 50px 0;
}

p.next-page {
  margin: 40px 0;
}

.chapter-container {
  display: flex;
  flex-flow: row wrap;
  /*justify-content: center;*/
  /*margin-bottom: 50px;*/
  margin-left: -16px;
  margin-right: -16px;
}

.chapter-item-outer {
  padding: 16px;
  flex-basis: 33%;
  display: flex;
  overflow: hidden;
}

@media(max-width: 991px) {
  .chapter-item-outer {
    flex-basis: 50%;
  }
}
@media(max-width: 600px) {
  .chapter-item-outer {
    flex-basis: 100%;
    flex-grow: 1;
  }
  .chapter-item {
    flex-grow: 1;
  }
}

.chapter-item {
  display: flex;
  flex-flow: column nowrap;
  padding: 32px;
  color: inherit;
  background: white;
  box-shadow: 0px 2px 4px rgba(0,0,0,.1);
  transition: transform 0.1s;
  overflow: hidden;
}

.chapter-item:hover {
  transform: scale(1.01);
  text-decoration: none;
  color: #000;
}

.chapter-item .chapter-heading {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 24px;
}

.chapter-item .chapter-heading .icon {
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  margin-right: 16px;
}

.chapter-item .chapter-heading .icon img {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

#footer {
  z-index: 1;
  position: relative;
}

.starter-kits {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 64px;
}

.starter-kits-item {
  display: block;
  text-align: center;
  margin: 16px;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  transition: transform 0.3s;
  flex-basis: 275px;
}
.starter-kits-item:hover, .starter-kits-item:focus {
  transform: scale(1.02);
  text-decoration: none;
  color: #111;
}

.starter-kits-item .logo-container {
  padding: 8px;
}

.starter-kits-item img {
  width: 175px;
  height: 175px;
  display: block;
  margin: 0 auto;
}

.starter-kits-item .name {
  font-weight: bold;
  color: #444;
  padding: 16px;
  font-size: 18px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px 12px;
}

.tags .tag {
    background: #e8e8e8;
    color: #555;
    font-size: 12px;
    padding: 4px 8px;
    margin: 0 4px 8px;
    border-radius: 2px;
}


/* styling quick fixes */
h1, h2, h3 {
  color: inherit;
  margin-top: -64px;
}

a.anchor {
  margin-left: 8px;
  font-size: 22px;
  text-decoration: none;
  margin-top: 5px;
}

#nav {
  padding-right: 0;
}
h1, h2, h3, h4, h5, h6 {
  color: inherit;
}
a {
  color: #297dd1;
}
body {
  font-size: 16px;
  line-height: 1.5;
}
@media(min-width: 992px) {
  #main {
    padding-left: 245px;
  }
}
@media(min-width: 1200px) {
  #main {
    padding-left: 295px;
  }
}
.content {
  background: white;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  padding-left: 32px;
  padding-right: 32px;
}

.bs-sidebar {
  z-index: 1;
}
.bs-sidenav {
  font-size: 18px;
  z-index: 1;
}

.bs-sidebar .nav .nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #666;
}

pre {
  background-color: #f9f9f9;
  border: 1px solid #e8e8e8;
  font-size: 16px;
}

.note, .tip, .warning, pre {
  margin-top: 24px;
  margin-bottom: 32px;
}

.note, .tip, .warning {
  border: none;
}
.note strong, .tip strong, .warning strong {
  font-size: 17px;
}
.note strong::before, .tip strong::before, .warning strong::before {
  display: none;
}
.note {
  background-color: #e8f4fa;
}
.tip {
  background-color: #ebf6e7;
}
.getting-started-list {
  padding-left: 24px;
}
.gitter-chat-embed {
  z-index: 9999;
}

.image-optimization-url-panel {
  background-color: #FFFFFF;
  text-align: left;
  font-size: 15px;
  box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.3);
}

.image-optimization-button-panel {
  padding: 16px;
}

.image-optimization-url-input {
  color: black;
  border: none;
  outline: none;
  font-size: 15px;
  height: 38px;
  width: 80%;
  padding-left: 8px;
}

.image-optimization-image-container {
    height: 500px;
    width: 500px;
    position: relative;
    overflow: auto;
}

.image-optimization-image-container-inner {
    display: block;
    position: absolute;
}

.image-optimization-image {
}

@media (min-width: 992px) {

  .image-optimization-url-panel {
    margin-top: 5px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px 1px rgba(50, 50, 50, 0.3);
  }
}

