<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Main title -->
            <a class="navbar-brand" href="http://www.baqend.com"><img src="{{ base_url }}/img/baqend_logo.svg"></a>
        </div>

        <!-- Expanded navigation -->
        <div id="nav" class="navbar-collapse collapse">
            <!-- Search -->
            <form class="navbar-right form-inline search-form">
                <div class="form-group search-form-group">
                    <input type="search" class="form-control search-input" id="search-query" placeholder="Search Guide" name="q" autocomplete="off">
                    <div id="search-results" class="search-results">
                        <p class="search-no-results">Please enter a search query ...</p>
                    </div>
                    <i class="search-icon fa fa-search"></i>
                </div>
            </form>

            <!-- Main navigation -->
            <ul class="nav navbar-nav">
                <li>
                    <a href="http://dashboard.baqend.com/" class="hidden-sm hidden-xs">
                        <span class="hidden-lg"> <i class="fa fa-rocket"></i> </span>
                        <span class="visible-lg-inline">  Dashboard</span>
                    </a>
                </li>
            {% for nav_item in nav %}
                {% if nav_item.title != "hidden" %}
                    {% if nav_item.children %}
                        <li class="dropdown{% if nav_item.active %} active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nav_item.title }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            {% for nav_item in nav_item.children %}
                                <li {% if nav_item.active %}class="active"{% endif %}>
                                    <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li {% if nav_item.active %}class="active"{% endif %}>
                            <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
                <li>
                    <a href="http://www.baqend.com/js-sdk/latest/baqend.html"><span class="hidden-sm hidden-xs">JS</span> API</a>
                </li>
                <li>
                    <a href="http://www.baqend.com/tutorial.html">Tutorial</a>
                </li>
            </ul>
        </div>
    </div>
</div>
