<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-inner container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Main title -->
            <a class="navbar-brand" href="{{ base_url }}"><img style="margin:0;" src="{{ base_url }}/img/baqend_logo.svg"></a>
        </div>

        <!-- Expanded navigation -->
        <div id="nav" class="navbar-collapse collapse">
            <!-- Search -->
            <form class="navbar-right form-inline search-form">
                <div class="form-group search-form-group">
                    <input type="search" class="form-control search-input" id="search-query" placeholder="Search Guides" name="q" autocomplete="off">
                    <div id="search-results" class="search-results">
                        <p class="search-no-results">Please enter a search query ...</p>
                    </div>
                    <i class="search-icon fa fa-search"></i>
                </div>
            </form>

            <!-- Main navigation -->
            <ul class="nav navbar-nav">
            {% for nav_item in nav %}
                {% if nav_item.title != "hidden" and (section == "Speed Kit" and (nav_item.title == "Overview" or nav_item.title == "Speed Kit" ) or section == 'Platform' and (nav_item.title == "Overview" or nav_item.title == "Platform" or nav_item.title == "Starter Kits" or nav_item.title == "Tutorial" ) or section == 'Index' and (nav_item.title == "Speed Kit" or nav_item.title == "Platform" ) ) %}
                    {% if nav_item.children %}
                        <li class="dropdown{% if nav_item.active %} active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nav_item.title }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            {% for nav_item in nav_item.children %}
                                <li {% if nav_item.active %}class="active"{% endif %}>
                                    <a href={{ base_url }}/{{ nav_item.url }}>{{ nav_item.title }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li {% if nav_item.active %}class="active"{% endif %}>
                            <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if section == 'Speed Kit' or nav_item.title == "Speed Kit" %}
                <li>
                    <a href="{{ base_url }}/topics/speed-kit/faq">FAQ</a>
                </li>
            {% elif section != 'Index' %}
                <li>
                    <a href="https://www.baqend.com/tutorial.html">Tutorial</a>
                </li>
            {% elif section == 'Index' %}
                <li>
                    <a href="{{ base_url }}/topics/faq">FAQ</a>
                </li>
                <li>
                    <a href="{{ base_url }}/roadmap">Roadmap</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
</div>
